@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background-color: red;
}
.App {
  text-align: center;
  color: white;
}

p{
  font-family: 'Audiowide', cursive;
  font-size: 1.5rem;
  color: rgb(185, 185, 185);
  letter-spacing: -5.5%;
  text-shadow: 0 2px 2px #000000;
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5rem;
  text-shadow: 0 5px #000000;
}
.overlay{
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.moving-background{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/54eb5af2-039c-4a9a-9c39-8cbe8868c779/dedby6o-5eb91d30-b19f-430e-adc7-29e728fbb6c1.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0ZWI1YWYyLTAzOWMtNGE5YS05YzM5LThjYmU4ODY4Yzc3OVwvZGVkYnk2by01ZWI5MWQzMC1iMTlmLTQzMGUtYWRjNy0yOWU3MjhmYmI2YzEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ddM4NnlUuslsbzzlvQrfSkSq71wEVHAZN8IwTO5_9yc");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40%;
}